@color4: rgba(58,28,0,.8); /* Headers */

@home_bg: rgba(189,121,56,.8); /* Textboxes #95BBBF */
@color9: @home_bg; /* Textarea ? */

@color8: #8D4421; /* Hovers */

@color2: #532700; /* Body Background , HTML Gradient BG #3 */
@color7: @color4; /* HTML Gradient BG #2 */
@color3: #643001; /* HTML Gradient BG #1, Frames, Placeholders, link:hover */

@color1: #222; /* Borders, Body Shadow, text */

@color6: rgba(222,212,232,.99); /* Links */
@hovertext: @color1; /* Link text hover color */
@topbottom: @color7;
@topshadow: #303030;
/*

My Custom CSS
=============

Author:  Jesse Hellman
Updated: February 2015
Notes:	 -

*/
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Raleway:500);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
/***************
* ICOMOON FONT *
****************/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-8eniji');
	src:url('../fonts/icomoon.eot?#iefix-8eniji') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-8eniji') format('woff'),
		url('../fonts/icomoon.ttf?-8eniji') format('truetype'),
		url('../fonts/icomoon.svg?-8eniji#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* --------------------------------------
   Layout
   -------------------------------------- */
#topbar, #maincontent, article, aside, #home, #register, #sidebar, #recent, #popular, #categories {
   margin: 0;
   padding: 0;
   min-height: 100px;
}
p, span, div {
	font-family: 'Raleway', sans-serif;
   	padding: 0;
   	margin: 0;
   	color: @color1;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6, #logo_text, #logo_subtitle {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
   	margin: 0;
	color: @color6;
	text-shadow: 2px 2px 5px #333;
}
a, a:hover, a:link, a:visited {
	font-family: 'Raleway', sans-serif;
   	color: @color6;
   	text-decoration: none;
   	font-weight: 700;
   	text-shadow: 2px 2px 5px #333;
}
html, body {
   background: @color7; /* Old browsers */
   background: -moz-linear-gradient(top,  @color7 0%, @color3 0%, @color2 41%, @color7 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color7), color-stop(0%,@color3), color-stop(41%,@color2), color-stop(100%,@color7)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  @color7 0%,@color3 0%,@color2 41%,@color7 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  @color7 0%,@color3 0%,@color2 41%,@color7 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  @color7 0%,@color3 0%,@color2 41%,@color7 100%); /* IE10+ */
   background: linear-gradient(to bottom,  @color7 0%,@color3 0%,@color2 41%,@color7 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color7', endColorstr='@color7',GradientType=0 ); /* IE6-9 */

   width: 100%;
   height: 100%;
   font-size: 16px;
}
#allcontainer {
   font-family: 'Raleway', sans-serif;
   font-weight: 300;
   background-color: @color2;
   width: 95%;
   margin: 20px auto 0 auto;
   border: 2px solid @color1;
   border-radius: 10px;
   box-shadow: 10px 10px 10px @color1;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5em;
}
h4, h5, h6 {
	margin-bottom: 10px;
}
footer {
   border-radius: 10px;
   width: 100%;
   padding: 20px;
   text-align: center;
}
/* --------------------------------------
   Typography
   -------------------------------------- */
body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
}


/* --------------------------------------
   Header
   -------------------------------------- */
#topbar {
   position: relative;
   border-top: 1px solid @color1;
   border-right: 1px solid @color1;
   border-left: 1px solid @color1;
   padding: 10px;
   background-color: @color4;/* Old browsers */
   border-radius: 10px 10px 0 0;
   border-bottom: 3px solid @topbottom;
   box-shadow: 0 5px 12px 0 @topshadow;
   width: 103%;
   margin-left: -1.5%;
   margin-top: 3px;
}
#logo img {
   float: left;
}
#logo_text {
   font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
   font-weight: bold;
   font-size: 3em;
   font-variant: small-caps;
}
#logo_text:first-letter {
   visibility: hidden;
   font-size: 0;
}
#logo_subtitle {
   margin-top: -10px;
}
nav {
   margin-top: 40px;
   font-weight: bold;
   font-size: 1.2em;
}
nav ul, nav li {
   list-style: none;
   display: inline-block;
}
nav ul li a {
   color: @color6;
   padding: 5px 2px 2px 0;
   margin-right: 7px;
   font-size: 0.9em;
}
nav ul li {
	min-width: 70px;
	padding: 5px;
	background-color: @color8;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	border-radius: 5px;
}
nav ul li:hover a, nav ul li.active a {
   color: @hovertext;
   text-decoration: none;
}
nav ul li:hover, nav ul li.active {
	color: @hovertext;
	background-color: @color3;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
/* --------------------------------------
   Main Container
   -------------------------------------- */
#maincontent {
   padding: 20px;
   background-color: @color2;
   margin: 0 auto;
   max-width: 100%;
   border-top: 1px solid @color4;
}
#home, #user_home {
   padding: 3px;
   border: 2px solid @color1;
   background-color: @color3;
   border-radius: 10px 0 0 0;
   margin: 0 0 10px 0;
}
#home h1, #user_home h1 {
   padding: 10px 20px;
   text-align: center;
   width: 104%;
   margin-left: -2%;
   min-height: 60px;
   background-color: @color4;
   border: 2px solid @color1;
   border-radius: 10px 0 0 0;
   text-align: left;
}
#home section, #user_home section {
   margin: 3px 0 5px 2px;
   background-color: @home_bg;
   border: 2px solid @color1;
   padding: 15px;
   width: 104%;
   margin-left: -2%;
}
#home section ul, #user_home section ul {
   margin: 10px 0;
}
#home section ul li, #user_home section ul li {
   list-style: none;
   margin-left: 0;
   text-indent: 0;
}
#home section .stars, #user_home section .stars {
   display: inline-block;
   margin: 15px;
   float: right;
}
#home.myclaims section .stars {
	margin: 0;
}
#home img, #user_home img {
   margin: 3px 10px 10px 3px;
   border: 2px solid @color1;
}
#home #claim_article {
	padding: 20px;
}
#home #claim_article ul li, #user_home #claim_article ul li {
   list-style: disc;
}
#register, #answers {
   padding: 3px;
   border: 2px solid @color1;
   background-color: @color3;
   border-radius: 0 0 0 10px;
   margin: 10px 0;
}
#register h2, #answers h2 {
   padding: 10px 20px;
   text-align: center;
   width: 104%;
   margin-left: -2%;
   min-height: 60px;
   background-color: @color4;
   border: 2px solid @color1;
   border-radius: 0;
   text-align: left;
}
#register section, #answers section {
   margin: 5px 0 5px 0;
   background-color: @home_bg;
   border: 2px solid @color1;
   padding: 15px;
   border-radius: 0 0 0 10px;
   min-height: 100px;
   width: 104%;
   margin-left: -2%;
}
#user_home {
   border-radius: 10px 0 0 10px;
}
#user_home section {
   border-radius: 0 0 0 10px;
}
#answer_title {
   width: 80%;
   border-radius: 1px;
   height: 2em;
   font-size: 1.25em;
}
#answers section .list-group-item:hover {
   background-color: @color4;
}
#answers section .claim_list_author {
   margin: 5px;
}
#answers section .claim_list_title {
   margin: 5px;
   font-weight: bold;
   font-size: 1.2em;

}
#answers section .stars {
   font-size: 0;
}
#register_box {
   padding: 5px 10px;
   margin: 15px auto 0 auto;
   width: 80%;
}
#register_box section {
   border-radius: 0;
   min-height: 75px;
}
#register_box form {
	border: none;
}
ul.instructions {
   margin-left: 10px;
}
ul.instructions li {
   list-style: circle;
}

.claim_list_author {
   font-style: italic;
   font-weight: 400;
   margin-left: 5px;
}
.claim_list_title {
   position: relative;
}
.claim_list_stars {
   position: absolute;
   right: 2px;
}
.list-group-item {
   margin: 5px 2px;
   background-color: @color4;
   border-color: @color1;
}
.list-group-item:hover {
   background-color: @color8;
}

#loading{
	width: 100%;
	position: relative;
	top: 100px;
	left: 100px;
	margin-top:200px;
}
#container .pagination ul li.inactive,
#container .pagination ul li.inactive:hover{
	background-color:#555;
	color:#666;
	border:1px solid @color1;
	cursor: default;
}
#container .data ul li{
	list-style: none;
	font-family: verdana;
	margin: 5px 0 5px 0;
	color: #000;
	font-size: 13px;
}
#container .pagination ul li{
	list-style: none;
	float: left;
	border: 1px solid @color1;
	padding: 2px 6px 2px 6px;
	margin: 0 3px 0 3px;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
}
#container .pagination ul li{
	cursor: pointer !important;
}
.total
{
float:right;font-family:arial;color:@color1;
}

nav.claim_navigation {
   text-align: center;
   margin: 2px;
}
nav.claim_navigation .pagination {
   margin: 2px;
}
nav li {
	text-align: center !important;
}
#container .pagination li, .go_button {
   background-color: @color4;
   border: 2px solid @color1;
   border-radius: 5px;
   padding: 5px;
   margin: 2px;
   box-shadow: inset -1px -1px 1px @color3;
   color: @color1;
}
#container .pagination li:hover, .go_button:hover {
   color: @color3;
   background-color: @color8;
}
#container .pagination li:active, .go_button:active {
   box-shadow: inset 1px 1px 1px @color3;
}
#container .pagination .inactive, #container .pagination .inactive:hover {
   background-color: #555;
   cursor: default !important;
}
.cke_contents {
   background-color: @color4;
}
/* --------------------------------------
   Sidebar
   -------------------------------------- */
aside#sidebar {
   padding: 3px;
   background-color: @color3;
   border: 2px solid @color1;
   max-width: 250px;
   border-radius: 0 10px 10px 0;
}
aside#sidebar h3 {
   padding-top: 10px;
   text-align: center;
   width: 108%;
   margin-left: -4%;
   height: 50px;
   background-color: @color4;
   border: 2px solid @color1;
   border-radius: 0 10px 0 0;
}
aside#sidebar section {
   margin: 5px 0;
   background-color: @home_bg;
   border: 2px solid @color1;
   padding: 5px 0;
   width: 108%;
   margin-left: -4%;
}
#sidebar #popular h3, #sidebar #categories h3 {
   border-radius: 0;
}
#sidebar #categories section, #sidebar #user_panel section {
   border-radius: 0 0 10px 0;
}
#sidebar #categories section form {
   text-align: center;
   margin: 5px auto;
}
#sidebar section ul {
   margin-left: 0;
}
#sidebar ul a {
	font-weight: normal;
}
#sidebar section li {
   list-style: none;
   list-style-type: none;
   padding-right: 1px;
   margin-right: 1px;
   margin-left: 1px;
   padding-left: 1px;
}
#sidebar section li:before {
	content: "";
	font-family: 'icomoon';
	margin-right: 7px;
}
#sidebar #popular li:before, #sidebar #recent li:before {
	content: "\e60d";
}
#sidebar #categories li:before {
	content: "\e608";
}
#sidebar section li.icon-home:before, .icon-home:before {
	content: "\e600";
}

#sidebar section li.icon-newspaper:before {
	content: "\e604";
}

#sidebar section li.icon-pencil:before, #topbar icon-pencil:before {
	content: "\e605";
}

#sidebar section li.icon-bullhorn:before {
	content: "\e606";
}

#sidebar section li.icon-book:before {
	content: "\e607";
}

#sidebar section li.icon-books:before {
	content: "\e608";
}

#sidebar section li.icon-profile:before, #topbar icon-profile:before {
	content: "\e609";
}

#sidebar section li.icon-file:before {
	content: "\e60a";
}

#sidebar section li.icon-notebook:before {
	content: "\e60b";
}

#sidebar section li.icon-envelope:before {
	content: "\e60c";
}

#sidebar section li.icon-bubble:before, #topbar .icon-bubble:before {
	content: "\e60d";
}

#sidebar section li.icon-bubbles:before {
	content: "\e60e";
}

#sidebar section li.icon-user:before, .icon-user:before {
	content: "\e601";
}

#sidebar section li.icon-key:before {
	content: "\e603";
}

#sidebar section li.icon-cog:before {
	content: "\e60f";
}

#sidebar section li.icon-switch:before {
	content: "\e602";
}

#sidebar section li.icon-heart:before {
	content: "\e610";
}

#sidebar section li.icon-heart2:before {
	content: "\e611";
}
#topbar .icon-profile:before, #topbar .icon-bubble:before, #topbar .icon-pencil:before {
	margin-right: 3px;
}
.listdate {
	color: @color8;
	font-size: 0.75em;
	position: relative;
	float: right;
	top: 5px;
	right: 10px;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */
p {
   margin-bottom: 5px;
}
hr {
   background-color: @color3;
   border-color: @color1;
   height: 2px;
   border-radius: 50%;
}
input[type="text"], input[type="password"], input[type="email"], button, input[type="submit"], textarea {
   background-color: @color4;
   border: 2px solid @color1;
   border-radius: 10px;
   padding: 1px 5px;
   box-shadow: inset 1px 1px 1px @color3;
   margin: 5px;
}
#register_box input[type="email"] {
	width: 80%;
	height: 40px;
}
#register_box input[type="submit"] {
	padding: 10px;
	color: @color6;
}
button, input[type="submit"] {
   box-shadow: inset -1px -1px 1px @color3;
}
button:active, input[type="submit"]:active {
   box-shadow: inset 1px 1px 1px @color3;
}
a:focus, a:hover, a:visited, a:link, a, button, button:hover {
   outline: 0;
   border-color: @color1 !important;
}
.btn-default, .btn-default:visited, .btn-default:focus {
   background-color: @color4;
   border: 2px solid @color1;
   box-shadow: inset -1px -1px 1px @color3;
   outline: 0;
}
.btn-default:hover {
   background-color: @color8;
   border: 2px solid @color1;
   box-shadow: inset -1px -1px 1px @color3;
   outline: 0;
}
.btn-default:active {
   box-shadow: inset 1px 1px 1px @color3;
}
::-webkit-input-placeholder {
   color: @color3;
}

:-moz-placeholder { /* Firefox 18- */
   color: @color3;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: @color3;
}

:-ms-input-placeholder {
   color: @color3;
}
input:focus, *:focus {
   border-color: @color3;
}
.img-thumbnail {
   background-color: @color3;
   border-color: @color1;
}
blockquote {
   border-color: @color1;
   font-size: 1em;
}
.panel {
   background-color: @color8;
   border-color: @color1;
}
.panel-default {
   background-color: @color4;
   border-color: @color1;
}
.panel-heading {
   background-color: @color8 !important;
   border-color: @color1;
   border-bottom: 1px solid @color1 !important;
}
.panel-body {
   background-color: @color4;
   border-color: @color1;
}
.tooltip.top .tooltip-arrow {
   bottom: 0;
   left: 50%;
   margin-left: 5px;
   border-top-color: @color1;
   border-width: 5px 5px 0;
}
.tooltip-inner {
   color: #f0f0f2;
   margin-left: 20px;
   background: @color3;
   border: solid 1px @color1;
}
td[colspan="2"] {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	font-variant: small-caps;
}
.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: @color4
}
.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th {
	background-color: @color8
}
table, tr, td, thead, tbody, tfoot {
	border-color: @color1 !important;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media screen and (max-width: 480px) {
   body {
      width: 100%;
   }
   nav {
      margin-left: -40px;
   }
   aside#sidebar {
      max-width: 480px;
	  float: none;
   }
   #maincontent {
      padding: 5px;
      background-color: @color2;
      margin: 0 auto;
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      border-top: 1px solid @color4;
   }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
   aside#sidebar {
      max-width: 640px;
   }

}

/* Large desktop */
@media (min-width: 840px) {
aside#sidebar {
	  float: right;
   }

}
